/* common shares styles  */
body{
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: chocolate;
}
.btn-primary{
    border-radius: 6px;
    background-color: chocolate;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
}

/* start nav related  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: black;
}
/* header related */
.header{
    background-color: blanchedalmond;
    
}
.banner{
    margin: 30px 20px 20px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-con{
    max-width: 500px;
}
.banner .propile-pic{
    height: 650px;
    width: 450px;
    border-radius: 25px;
    box-shadow: 20px 20px 15px 0px;
}
.banner-wcl{
    font-size: 30px;
    margin-bottom: 0;
}
.banner-title{
    font-size: 82px;
    font-weight: 800px;
    margin-top: 0;
    margin-bottom: 0;
}
/* main section */
.about{
padding: 130px;
background-color: rgb(247, 227, 197);
}
main{
    max-width: 1000px;
    margin: 0 auto;
}
.about-inf-cont{
    display: flex;
    justify-content: space-around;
}
.about-inf{
    text-align: center;
}